@import "tailwindcss";
@source "../src/**/*.{js,jsx,ts,tsx}";

@theme {
  --animate-fade-in: fade-in 400ms ease-in-out;
  --animate-fade-out: fade-out 400ms ease-in-out;
  --animate-move-in: move-in 400ms ease-in-out;
  --animate-move-up: move-up 400ms ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
  @keyframes move-in {
    0% {
      opacity: 0;
      transform: translateX(-8px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes move-up {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --primary: #f8f9f1;
  --bg-secondary: #2b2d42;
  --text-primary: #333;
  --text-secondary: #666;
}

body {
  background-color: #fdfff1;
  font-family: "Arial", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
  scale: 1.5;
  filter: invert(0.5);
  pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
