@import "tailwindcss";

:root {
  --primary: #f8f9f1;
  --bg-secondary: #2B2D42;
  --text-primary: #333;
  --text-secondary: #666;
}

body {
  background-color: #FDFFF1;
  font-family: 'Arial', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
  scale: 1.5;
  filter: invert(0.5); /* useful for dark themes */
  pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}