@import "tailwindcss";

:root {
  --bg-primary: #f8f9f1;
  --bg-secondary: #2B2D42;
  --text-primary: #333;
  --text-secondary: #666;
}

body {
  background-color: #FDFFF1;
  font-family: 'Arial', sans-serif;
}

p{
  color: #8D99AE;
}
